// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header,footer,section, nav , h1{
	display:  block;
}
.container{
  padding: 0px; 
  margin: 0px;
  width: 100% ;
  height: 600px ;
}

body 
{
	padding: 0px;
	margin: 0px ;
}

#home_img{
  padding: 0px; 
  margin: 0px;
  width: 100% ;
  height: 655px ;	
}
#home_p{
	
	
	padding-right: 250px;
	padding-left: 250px;
	padding-top: 150px ;
	
	margin-bottom: 0;
	margin-top: 0;
	/*
	background-image: url("~/Fekra/app/assets/images/1.jpg");
	background-repeat: no-repeat;
	background-size: 100% 800px;
	*/
	text-align: center;
	color: white;
	font-size: 80px;
}

#background
{

	background-image: url("team.jpg");
	background-repeat: no-repeat;
	background-size: 100% 675px;
	
  margin: 0px;
  width: 100% ;
  height: 650px ;
  padding: 0;



}
.NAV{
	background-color: black;
	width: 100%;
	height: 60px;
	margin: 0px ;
	padding: 0px;
	position: navbar-fixed-top;
}
.NAV li{
	list-style-type: none;
	display: inline;
	
	color: white;
	
}
.NAV li:hover{
	
	background-color: #CCC;
	border-radius: 5px;

}
.NAVl{
	margin-top: 8px ;
	font-size: 20px;
	padding-top: 10px;
	text-align: center;
	float:  left;
	padding-bottom: 10px;
	padding-left: 30px ;
	padding-right: 30px;

}
.logo
{
	
	width: 200px;
	height: 60px;
	padding-bottom: 0px ;
	margin-top: 0px;
	padding-left: 200px ;


}
#about{
	margin-top: 0px; 
	width: 100% ;
  	height: 600px ;
}

#learn
{
	margin: 500px ;
	padding:50px;
	text-align: center ;
	background-color: black ;
	font-size: 40px;
	border-radius: 10px;
}
#learn:visited
{
	text-decoration: none ;
	color: white;
}
#learn:active
{
	text-decoration: none ;
	
}

#learn:link
{
	text-decoration: none ;
	
}
#learn:hover
{
	background-color: #FF4719 ;
}
#text
{
	float: left ;
	margin: 0px; 
	padding-left: 60px ;
	width:586px ;
	height: 600px ; 
	

}


#ProjectTitle
{
	font-size: 50px; 
	
	padding-top: 40px ;
	margin: 0px  ;
	
}

.sponser img{
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */

  width: 200px ; 
  height: 200px ;
  padding-left: 40px ; 
  padding-top: 40px;

}

/* Disable grayscale on hover */
.sponser img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}


#ProjectDesc
{
	font-size: 25px; 
	word-wrap: break-word;
	padding-top: 10px ;
	margin: 0px  ;
	
}
#text_img{
	padding-left:40px;
	width:606px;
	float:right;
}
#text_img img{width:606px;	height:600px;
}

.sponser{
	clear: both;
	margin-top: 0px; 
	width: 100% ;
  	height: 600px ;
}